:root {
    --color-primary: #204080;
    --color-background: #ffffff;
    --color-gray: #484848;
    --color-lighter: #72777A;
    --color-darkest: #090A0A;
    --color-blue: #294E98B8;
    --color-gray-200: #64646414;
    --color-gray-300: #48484899;
    --color-gray-400: #64646480;
    --color-gray-500: #686868;
    --color-danger: #FF0000;
    --color-alert-bg: #C4C4C4;

    --font-roboto: 'Roboto';
    --font-inter: 'Inter';

    --header-height: 20vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*,
html,
body,
.carousel-base {
    scroll-behavior: smooth !important;
}

address,
time {
    font-style: normal;
}

p,
address {
    font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-inter);
}

input:hover,
input:focus,
input:active {
    background-color: var(--color-gray-200) !important;
    border: 1px solid var(--color-gray-300) !important;
}

input:hover::placeholder,
input:focus::placeholder,
input:active::placeholder {
    color: var(--color-gray-400);
}

input::placeholder {
    font-family: var(--font-roboto);
    font-size: 18px;
}

.color-gray {
    color: var(--color-gray);
}

.color-gray-500 {
    color: var(--color-gray-500);
}

.color.lighter {
    color: var(--color-lighter);
}

.color.darkest {
    color: var(--color-darkest);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

small {
    font-size: 14px;
}