.container {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
}

.divider {
    width: 100%;
    background-color: #7E7E7E;
    height: 1px;
    margin-block: -1.3rem;
}

.title2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.button {
    border: none;
    outline: none;
    padding: .7rem 2rem;
    background-color: var(--color-primary);
    border-radius: 12px;
}

.button:hover {
    background-color: var(--color-blue) !important;
}


.button.primary {
    color: white;
    border-radius: 12px;
    background-color: var(--color-primary);
}

.button.danger {
    background-color: var(--color-danger);
    color: white;
}

.button.ghost {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family, var(--font-roboto));
    font-size: var(--font-size, 16px);
}

.button.ghost:hover,
.button.outline:hover {
    background-color: white !important;
}

.button.outline {
    background-color: transparent;
    border: 1px solid #414141;
    outline: none;
    font-family: var(--font-family, var(--font-roboto));
    font-size: var(--font-size, 16px);
}

.flex.none {
    display: none;
}

.my-small {
    margin-block: .5rem;
}

.text.bold {
    font-family: var(--font-family, var(--font-roboto));
    font-size: var(--font-size, 18px);
    font-weight: 700;
    line-height: 21.09px;
}

.text.normal {
    font-family: var(--font-family, var(--font-roboto));
    font-size: var(--font-size, 13px);
    font-weight: 400;
    line-height: 24px;
}

.text.semibold {
    font-family: var(--font-family, var(--font-roboto));
    font-size: var(--font-size, 16px);
    font-weight: 500;
    line-height: 20px;
}

.text.small {
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font-family, var(--font-roboto));
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing, 1rem);
}

.wrap {
    flex-wrap: wrap;
}

.header {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.alert {
    animation: alertIn 250ms linear;
    z-index: 999;
    position: fixed;
    background-color: var(--color-alert-bg);
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid: .5rem;
}

.alert-leave {
    animation: alertLeave 250ms linear;
}

@keyframes alertIn {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes alertLeave {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(200px);
    }
}


.alert .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.alert ul {
    max-width: 244px;
}

.alert button {
    place-self: center;
}

.alert.bottom-right {
    bottom: 5px;
    right: 5px;
}

.popup {
    display: none;
    border-radius: 8px;
    width: 160px;
    background-color: white;
    padding: .5rem;
    border: 1px solid #8F8F8F;
    box-shadow: 4px 6px 12px 4px #00000033;
}

.popup li {
    cursor: pointer;
    margin-block: .5rem;
    padding: .3rem;
    border-radius: 8px;
}

.popup li:hover {
    color: white;
    background-color: #B3B3B3;
}

@media(max-width: 900px) {
    header {
        padding-top: 1rem;
    }
}

.paginate-button {
    cursor: pointer;
    border-radius: 4px;
    padding: .3rem;
    padding-inline: 1rem;
    background-color: white;
    border: 1px solid #414141;
}


.more-paginate {
    margin-inline: -1rem;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-roboto);
}