.link-header {
    justify-content: flex-start;
    min-height: var(--header-height);
}

.add-link-container {
    display: grid;
    grid-template-columns: 149px 590px;
    gap: 1rem;
}


.add-link-container header {
    grid-column: 2 span;
}

.add-link-container main {
    grid-column: 2;
    flex-direction: column;
    align-items: stretch;
}

.add-link-main .input-group input {
    width: 100%;
    text-indent: 20px;
}

.add-link-main form {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
}

.create {
    align-self: flex-end;
}

@media(max-width: 900px) {
    .add-link-container {
        grid-template-columns: 1fr;
    }

    .add-link-container header {
        grid-column: 1;
    }

    .add-link-container main {
        grid-column: 1;
    }
}