.main {
    min-height: 80vh;
    flex-direction: column;
}

.logo-area {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.logo-area p {
    display: inline-block;
    margin-left: auto;
    transform: translateX(35px);
}

.search-area {
    max-width: 100%;
    min-width: 60%;
    flex-direction: column;
    align-items: stretch;
}

.input-group {
    padding-inline: 10px;
    position: relative;
}

.input-group.not-valid input {
    border: 1.5px solid var(--color-danger) !important;
}

.input-group.not-valid input::placeholder {
    color: var(--color-danger) !important;
}

.input-group.not-valid {
    color: var(--color-danger) !important;
}

.input-group.not-valid p {
    color: var(--color-danger) !important;
}

.search-area .search-icon {
    position: absolute;
    left: 20px;
}

.input-group input {
    border-radius: 8px;
    flex: 1;
    height: 48px;
    border: 2px solid var(--color-primary);
    text-indent: 40px;
}


.search-results {
    width: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 24px;
    padding: 2rem;
    flex-direction: column;
    align-items: stretch;
}

.list-tile {
    text-transform: capitalize;
    justify-content: flex-start;
}

.list-tile .title,
.list-tile .subtitle {
    font-family: var(--font-inter);
}

.list-tile .title {
    font-size: 16px;
    line-height: 20px;
}

.search-results .show-more {
    align-self: center;
    font-weight: 700;
}

footer {
    --height: 277px;
    padding-block: .3rem;
    padding-inline: 10rem;
    min-height: var(--height);
    background-color: var(--color-blue);
    color: white;
}

footer div {
    flex: 1;
}

footer .contact {
    align-items: flex-start;
    flex-direction: column;
}

footer .contact .send-email {
    margin-top: 40px;
}

footer .map {
    height: 100%;
}

.gmap_canvas {
    display: block;
    min-width: 100%;
    height: var(--height);
}

.carousel-base {
    max-width: 100%;
    min-width: 80%;
    align-items: stretch;
    margin-block-end: 2rem;
    flex-direction: column;
    position: relative;
}

.carousel {
    display: flex;
    gap: 1rem;
    min-height: 195px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 600px) {
    .arrow {
        display: none;
    }
}

.carousel-item {
    flex-shrink: 0;
    width: 327px;
    min-height: inherit;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.arrow-right {
    right: -60px;
}

.arrow-left {
    left: -60px;
}