.search-header {
    min-height: var(--header-height);
    align-items: center;
    justify-content: flex-start;
}

.new-record {
    margin-left: auto;
}

.search-header .input-group {
    width: 509px;
}

.search-header .input-group input {
    width: 100%;
}

.search-grid {
    margin-block-start: 1rem;
    display: grid;
    grid-template-columns: 150px 1fr 200px 150px;
    gap: 1rem;
}

.result-parent {
    padding: 1rem;
    justify-content: space-between;
    border-radius: 8px;
}

.result-parent:hover {
    background-color: #4F75C236;
}

.results {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.results-base {
    align-items: stretch;
    width: 100%;
    flex-direction: column;
}

.search-aside:hover .popup {
    display: block;
}

.order-button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    width: max-content;
    padding: .2rem;
    margin-block-end: .4rem;
}

.trailing {
    text-align: end;
}

.search-group input {
    text-indent: 15px;
}

@media(max-width: 900px) {
    .search-grid {
        grid-template-columns: 1fr;
    }

    .results {
        grid-column: 1;
    }

    .trailing {
        text-align: start;
    }
}

.paginate-button.active,
.paginate-button:hover {
    background-color: var(--color-primary);
    color: white;
}

@media(max-width: 900px) {
    .results {
        order: 2;
    }

    .search-aside {
        order: 1;
    }
}